body {
		margin: 0px;
		color: #404040;
}

/* Navigation Menu */
div#nav {
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 0;
		background: #FFFFFF;
		border-bottom: 1px solid #F0F0F0;
		z-index: 1;
}

div#nav ul {
		width: max-content;
		margin: 0px auto;
		list-style-type: none;
}

div#nav li {
		display: inline-block;
		padding: 10px;
}

div#nav a {
		text-decoration: none;
		color: #909090;
}

div#nav a:hover {
		color: #C0C0C0;
}

/* Banner */
div#banner {
	/* Free to use image from 
	 * https://www.pexels.com/photo/black-click-pen-on-white-paper-167682/ */
		background-image: url("/images/banner.jpg");
		background-size: cover;
		text-align: center;
		vertical-align: center;
		padding: 80px;
}

/* Page Content */
div#content {
		width: 80%;
		margin: 0px auto;
		line-height: 2em;
}

div#content h3 {
		width: max-content;
		margin: 0px auto;
}

/* Project Listing */
ul#list {
		margin: 0px auto;
		padding: 0px;
		width: max-content;
		max-width: 80%;
		list-style-type: none;
}

@media screen and (max-width: 460px) {
		ul#list {
				width: 181px;
		}
}

ul#list a {
		display: inline-block;
		color: black;
		text-decoration: none;
		width: 180px;
		height: 300px;
}

ul#list li {
		display:inline-block;
		margin: 5px;
		border: 1px solid #C0C0C0;
		vertical-align: bottom;
}

ul#list li:hover {
		border: 1px solid #707070;
}

ul#list img {
		width: 100%;
}

ul#list p {
		vertical-align: bottom;
}
