<div id="nav">
		<ul>
				<li><a href="{{ .Site.BaseURL }}">About</a></li>
				{{ range .Site.Menus.main }}
				<li><a href="{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
		</ul>
</div>
<div id="banner">
		<h1>{{ .Title | default .Site.Title }}
</div>
