<title>{{ with .Title }}{{ . }}{{ end }} | {{ with .Site.Title }}{{ . }}{{ end }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device=width, initial-scale=1.0">

<!-- Open Graph Protocol -->
<meta property="og:title" content="{{ .Title | default .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ $.Site.BaseURL }}{{ .Params.featured_image | default "images/banner.jpg" }}" />

<link rel="stylesheet" href="/css/style.css">
